html, body
	height: 100%

body
	overflow-y: scroll
	font-family: $default_font
	font-size: 16px
	color: $text_color
	background: $bg_color

a
	outline: none
	color: inherit
	text-decoration: none

img
	display: block
	margin: 0 auto 20px
	width: 30px
	cursor: pointer
	&:hover
		opacity: 0.8

label
	width: 100%
	font-weight: 600

.radio > label
	font-weight: normal

input, textarea
	font-weight: 300

input[type="radio"]
	margin-right: 7px

textarea
	resize: none

.form-group p
	font-size: 18px

.container
	min-height: 100%
	padding-bottom: 80px
	box-sizing: border-box

footer
	margin-top: -80px
	padding-top: 50px
	padding-bottom: 10px

.alert
	position: absolute
	top: 50%
	left: 50%
	transform: translate(-50%, -50%)

.tab-pane
	position: relative

.nav-tabs
	margin-bottom: 30px

.add
	position: absolute
	top: 0
	right: 15px

.addQuestion
	margin-bottom: 30px

.addAnswer
	margin-bottom: 15px

.answer-block__right
	padding-left: 40px

.answerForm__checkFIO
	display: block
	margin: 20px auto 0

.modal-content
	overflow: hidden

.form-control
	color: #000000

.table-FIO
	width: 80%

td p
	margin-bottom: 10px